$component-name: 'sidebar';
.#{$component-name} {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 300px;
  padding-inline: 30px;
}
