<mat-form-field appearance="outline" class="w-100" [matTooltip]="formatedLabel(timezone.value)" matTooltipPosition="below">
  @if ((loadingList$ | async) !== false) {
    <mat-label class="d-flex align-items-center">
      <mat-spinner [diameter]="25"></mat-spinner> <span class="ms-2">Loading...</span>
    </mat-label>
  }

  @defer (when (loadingList$ | async))  {
    <mat-select [formControl]="timezone">
      <mat-select-trigger class="timezone">
        <strong>
          @if ((loadingByName$ | async) !== false) {
            <mat-spinner [diameter]="25"></mat-spinner>
          } @else {
            {{ currentLocalTime | date: 'HH:mm' }}
          }
        </strong>
        @if (timezone.value) {
          <span class="timezone__local">
            ({{ formatedLabel(timezone.value) }})
          </span>
        }
      </mat-select-trigger>
      @for (zone of timezoneList; track $index) {
        <mat-option [value]="zone">{{ formatedLabel(zone) }}</mat-option>
      }
    </mat-select>
  }
</mat-form-field>
