<div class="weekly-ranking">
  <div class="weekly-ranking__label">Weekly Ranking</div>
  <div class="weekly-ranking__content">
    <div class="weekly-ranking__item">
      <div class="weekly-ranking__rank">1</div>
      <div class="weekly-ranking__avatar">
        <img src="../../../assets/img/2game.png" alt="" srcset="">
      </div>
      <div class="flex-grow-1"></div>
      <div class="weekly-ranking__info">
        <div class="weekly-ranking__name">Aspas</div>
        <div class="weekly-ranking__team">MIBR</div>
      </div>
    </div>
    <div class="weekly-ranking__item">
      <div class="weekly-ranking__rank">1</div>
      <div class="weekly-ranking__avatar">
        <img src="../../../assets/img/2game.png" alt="" srcset="">
      </div>
      <div class="flex-grow-1"></div>
      <div class="weekly-ranking__info">
        <div class="weekly-ranking__name">Aspas</div>
        <div class="weekly-ranking__team">MIBR</div>
      </div>
    </div>
    <div class="weekly-ranking__item">
      <div class="weekly-ranking__rank">1</div>
      <div class="weekly-ranking__avatar">
        <img src="../../../assets/img/2game.png" alt="" srcset="">
      </div>
      <div class="flex-grow-1"></div>
      <div class="weekly-ranking__info">
        <div class="weekly-ranking__name">zekken</div>
        <div class="weekly-ranking__team">SENTINELS</div>
      </div>
    </div>
  </div>
</div>
