<div class="play-now">
  <div class="play-now__label">Play Now</div>
  <div class="play-now__slider">
    <div class="play-now__title">VCT Americas</div>
    <div class="play-now__controller">
      <button mat-icon-button aria-label="Controle para voltar ao jogo anterior.">
        <i class="fa-solid fa-chevron-left"></i>
      </button>
      <button mat-icon-button aria-label="Controle para avançar para o próximo jogo.">
        <i class="fa-solid fa-chevron-right"></i>
      </button>
    </div>
  </div>
  <div class="play-now__content">
    <div class="play-now__team">
      <figure class="play-now__logo-team">
        <img src="../../../assets/img/2game.png" alt="" srcset="">
      </figure>
      <div class="play-now__name-team">Team A</div>
    </div>
    <span class="play-now__scoreboard">3 : 1</span>
    <div class="play-now__team">
      <figure class="play-now__logo-team">
        <img src="../../../assets/img/eg.png" alt="" srcset="">
      </figure>
      <div class="play-now__name-team">Team B</div>
    </div>
  </div>
</div>
