<div class="leagues">
  <div class="leagues__label">Leagues</div>
  <div class="leagues__content">
    <div class="leagues__item">
      <div class="leagues__logo">
        <img src="../../../assets/img/vct-americas.png" alt="" srcset="">
      </div>
      <div class="leagues__name">VCT Americas</div>
    </div>
    <div class="leagues__item">
      <div class="leagues__logo">
        <img src="../../../assets/img/vct-emea.png" alt="" srcset="">
      </div>
      <div class="leagues__name">VCT Emea</div>
    </div>
    <div class="leagues__item">
      <div class="leagues__logo">
        <img src="../../../assets/img/vct-pacific.png" alt="" srcset="">
      </div>
      <div class="leagues__name">VCT Pacific</div>
    </div>
    <div class="leagues__item">
      <div class="leagues__logo">
        <img src="../../../assets/img/vct-chinese.png" alt="" srcset="">
      </div>
      <div class="leagues__name">VCT Chinese</div>
    </div>
  </div>
</div>
