/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-size: 16px;
}

.mat-mdc-form-field-subscript-wrapper, .mdc-line-ripple {
  display: none;
}
