<div class="row d-flex align-items-center">
  <div class="col-md-2">
    <div class="l-topbar__logo">
      <figure>
        <img [src]="routerAssets()" alt="Logo da E-Sports Readers" />
      </figure>
    </div>
  </div>
  <div class="col-md-8">
    <nav class="l-topbar__nav">
      <a
        *ngFor="let link of navLinks"
        [routerLink]="link.route"
        [relativeTo]="activatedRoute"
        [replaceUrl]="'sad'"
        routerLinkActive="activate"
        class="l-topbar__nav-item">
        {{ link.label }}
      </a>
    </nav>
  </div>
  <div class="col-md-2">
    <div class="row">
      <div class="col-md-8">
        <app-timezone-select></app-timezone-select>
      </div>
      <div class="col-md-4">
        <button mat-flat-button color="primary" class="w-100" [style.height]="'56px'">Login</button>
      </div>
    </div>
  </div>
</div>
